@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

.container {
    display: flex;
    width: 1440px;
    height: 1000px;
    padding: 121px 135px 122px 135px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;

}

.section-head {
    display: flex;
    width: 1170px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    flex-shrink: 0;

    h4 {
        color: #898F8F;
        text-align: center;
        font-family: Raleway;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        text-transform: uppercase;
    }

    h2 {
        color: #FC0;
        text-align: center;
        font-family: Roboto;
        font-size: 60px;
        font-style: normal;
        font-weight: 900;
        line-height: 66px;
        text-transform: uppercase;
    }

    .icon {
        display: flex;
        align-items: center;
        justify-content: center;

        .before {
            height: 1px;
            width: 210px;
            background-color: #FC0;
        }

        .arter {
            height: 1px;
            width: 210px;
            background-color: #FC0;
        }
    }


}

main {
    section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 1070px;
        margin-top: 40px;
        box-sizing: border-box;
        margin-left: 30px;


        .section-one {
            width: 400px;
            height: 400px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;


            .border-box {
                display: flex;
                justify-content: space-between;
                position: relative;
                box-sizing: border-box;
            }

            .border-one {
                width: 100px;
                height: 100px;
                border-left: 1px solid #FC0;
                border-top: 1px solid #FC0;
                position: relative;
                top: 85px;
                right: 115px;
            }

            .border-two {
                width: 100px;
                height: 100px;
                border-right: 1px solid #FC0;
                border-top: 1px solid #FC0;
                position: relative;
                top: 85px;
                left: 115px;
            }

            .border-thre {
                width: 100px;
                height: 100px;
                border-left: 1px solid #FC0;
                border-bottom: 1px solid #FC0;
                position: relative;
                right: 115px;
                bottom: 85px;
            }

            .border-four {
                width: 100px;
                height: 100px;
                border-right: 1px solid #FC0;
                border-bottom: 1px solid #FC0;
                position: relative;
                left: 115px;
                bottom: 85px;
            }


        }

        .line {
            width: 1px;
            height: 560px;
            background: #FC0;

        }

        .section-two {
            display: flex;
            flex-direction: column;
            align-items: center;


            h2 {
                color: #666;
                text-align: center;
                font-family: Roboto;
                font-size: 36px;
                font-style: normal;
                font-weight: 900;
                line-height: normal;
                text-transform: capitalize;
            }

            .line-two {
                width: 100px;
                height: 1px;
                background: #FC0;
                margin: 50px 0 50px 0;
            }

            h3 {
                color: #666;
                text-align: center;
                font-family: Raleway;
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: 36px;
                text-transform: capitalize;
            }

            nav {
                margin: 30px 0 49px 0;

                ul {
                    gap: 5px;
                    display: flex;

                    li {
                        a {
                            &:hover {
                                path {
                                    fill: #FC0;
                                }

                            }

                        }
                    }
                }
            }

            p {
                color: #333;
                text-align: center;
                font-family: Raleway;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 24px;
                height: 116px;
                flex-shrink: 0;
                width: 430px;
            }

            .line-thre {
                display: flex;
                gap: 5px;
                margin: 20px 0 25px 0;

                .line-fotter-one {
                    width: 10px;
                    height: 4px;
                    background: #FC0;
                }

                .line-fotter-two {
                    width: 20px;
                    height: 4px;
                    background: #FC0;
                }

                .line-fotter-thre {
                    width: 10px;
                    height: 4px;
                    background: #FC0;
                }
            }

            button {
                display: inline-flex;
                padding: 5px 10px;
                justify-content: center;
                align-items: center;
                border: 1px solid #FC0;
                color: #666;
                text-align: center;
                font-family: Open Sans;
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                line-height: 14px;
                /* 100% */
                text-transform: uppercase;
                display: inline-flex;
                padding: 5px 10px;
                justify-content: center;
                align-items: center;
                background-color: #fff;

                &:active {
                    background-color: #FC0;
                    color: #fff;
                }
            }
        }

    }
}