@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,200;1,300&family=Oswald:wght@200;400;600&family=Playfair+Display:ital,wght@0,500;1,400&family=Raleway:ital,wght@0,300;1,300;1,500&family=Train+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:ital,wght@0,300;1,200;1,300&family=Oswald:wght@200;400;600&family=Playfair+Display:ital,wght@0,500;1,400&family=Raleway:ital,wght@0,300;1,300;1,500&family=Train+One&display=swap');
header{
    width: 1440px;
    height: 80px;
    background: #FFF;
    display: flex;
    align-items: center;
    justify-content: space-around;
    a{
        display: flex;
        height: 60px;
        align-items: center;
        width: 170px;
        text-decoration: none;
        h2{
            font-family: Train One;
            font-size: 30px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-transform: uppercase;  
            color: #282528;
        }
        
    }
    a:hover{
        color: #18B5DC;
    }
    nav{ 
        align-items: center;
        gap: 30px;
        flex-shrink: 0;
        display: flex;
        ul{
            display: flex;
            align-items: center;
            justify-content: space-between;
            
            li{
                
                a{
                    font-family: Lato;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    text-transform: uppercase;
                    color: var(--title-title-subtitle-text, #3C3C3C);

                }
            }
        }
    }
}
button{
    width: 130px;
    height: 42px;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    display: flex;
    border: 1px solid  #3C3C3C;
    background-color: white;
}
button:hover{
    color: #fff;
    border: 1px solid  #18B5DC;
    background: #18B5DC;
}
main{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 833px;
    flex-shrink: 0;
    width: 1440px;
    background-color:#F6F6F6;
    h2{
        padding-top: 150px;
        text-align: center;
        font-family: Lato;
        font-size: 34px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 4.42px;
        text-transform: uppercase;
        color: #3C3C3C;
    }
    span{
        height: 4px;
        width: 45px;
        background-color:  #DDDBDB;
        margin-top: 20px;
    }
    p{
        height: 42px;
        flex-shrink: 0;
        color: #3C3C3C;
        text-align: center;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 24px;
        width: 570px;
        margin: 40px 0 60px 0;
    }
    section{
        height: 333px;
        width: 1170px;
        display: inline-flex;
        justify-content: center;
        gap: 30px;
        
        .worker-1{

            height: 100%;
            width: 100%;
            opacity: 1;
            transition: .5s ease;
            height: 270px;
            overflow: hidden;
        }
        
    }
}
.worker-1:hover{
    background-image: url(img/workers/worker-2.png);
    opacity: 0;
   
   
   
   


}



    
